.swal2-actions {
    justify-content: space-around !important;
}
.BackOffice {
    display: flex;
    &>div {
        &:nth-child(2) {
            flex: 1;
        }
    }
    .bodyOffice {
        height: calc(100vh - 90px);
        overflow-y: scroll;
    }
}
