::placeholder{
    text-align: center;
}

.Language {
    display: flex;
    .Block {
        border-radius: 4px;
        position: relative;
        padding: 5px;
        margin: 10px;
        cursor: pointer;
        &>div:nth-child(1) {
            border-radius: 4px;
            background-color: #dee8df;
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
        &>div:nth-child(2) {
            display: flex;
            align-items: center;
            flex-direction: column;
            h1 {
                font-size: 20px;
            }
        }
        .action {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            button {
                border: none;
                padding: 5px;
                margin: 2px;
                border-radius: 4px;
            }
        }
    }
    .AddBlock {
        border-radius: 4px;
        position: relative;
        padding: 5px;
        margin: 10px;
        cursor: pointer;
        &>div:nth-child(1) {
            border-radius: 4px;
            background-color: #dee8df;
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
        &>div:nth-child(2) {
            display: flex;
            align-items: center;
            flex-direction: column;
            input {
                width: 200px;
                margin-bottom: 0.5rem;
                background-color: #eef5ef;
                border-radius: 4px;
                border: none;

                margin-top: 5px;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                text-align: left;
                display: flex;
            }
            .nameLanguage {
                width: 140px;
                text-align: center;
                font-weight: 500;
                font-size: 20px;
                color: #212529;
            }
            input:nth-child(2) {
                margin-top: -2px;
                height: 68px;
            }
        }
    }
}
