.ListesTech {
    .Formulaire {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        h1 {
            width: 725px;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
        .flex {
            width: 725px;
            display: flex;
            .right {
                margin-left: 20px;
                &>div {
                    margin-bottom: 20px;
                    p {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                        color: #717171;
                    }
                    .checkboxIsAdmin {
                        margin-left: 10px;
                    }
                    input {
                        display: block !important;
                        border: none;
                        width: 500px;
                        height: 38px;
                        background: #EDEDED;
                        border-radius: 10px;
                        order: 0;
                        align-self: stretch;
                        flex-grow: 0;
                        margin-bottom: 10px;
                        padding-left: 10px;
                    }
                    select {
                        margin-left: 10px;
                        height: 38px;
                        background: #EDEDED;
                        border-radius: 10px;
                        border: none;
                        padding: 5px;
                    }
                    .passwordFlex {
                        display: flex;
                        &>div {
                            width: 240px;
                            display: flex;
                            border: none;
                            height: 38px;
                            background: #EDEDED;
                            border-radius: 10px;
                            order: 0;
                            align-self: stretch;
                            flex-grow: 0;
                            margin-bottom: 10px;
                            align-items: center;
                            .MuiInputAdornment-positionEnd {
                                margin-left: 25px;
                            }
                        }
                    }
                    .technologies {
                        display: flex;
                        &>div {
                            width: 30px;
                            height: 30px;
                            border-radius: 4px;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // border: 1px solid green;
                            margin: 0 10px;
                            cursor: pointer;
                            img {
                                width: 30px;
                                height: auto;
                            }
                        }
                    }

                }
                .btnEnregistrer {
                    display: flex;
                    justify-content: center;
                    button {
                            border-radius: 40px;
                        &:nth-child(2) {
                            background: #E8003A;
                            color: white;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .changeImage {
        width: 200px;
        cursor: pointer;
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        p {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: #e8003a;
            color: white;
            bottom: 0px;
            left: 0px;
            height: 40px;
            margin: 0px;
        }
        &>div {
            width: 200px;
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            img {
                width: 200px;
            }
        }
    }

    .Table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .addButton {
            width: 100%;
            display: flex;
            justify-content: space-between;
            max-width: 900px;
            button {
                padding: 15px;
                width: 120px;
                height: 40px;
                background: #FFFFFF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                border-radius: 100px;
            }
        }
        table {
            width: 50%;
            margin: 10px;
            overflow: hidden;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            border: 10px;

        }
        th {
            border-bottom: 1px solid #cadaca;
            padding-left: 10px;
        }
        td, th {
            padding: 10px 20px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        }
        .image_user {
            height: 25px;
            border-radius: 4px;
        }
        .action {
            display: flex;
            align-items: center;
            &>button {
                border: none;
                cursor: pointer;
                padding: 5px 10px;
                border-radius: 4px;
            }
            &>p {
                margin: 0 3px;
            }
        }
        .admin {
            &>button {
                border: none;
                cursor: pointer;
                padding: 5px 10px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                p {
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    margin: 0px 5px 0px 0px;
                }
            }
        }
        .email {
            max-width: 200px;
            overflow: hidden;
        }
    }
}
