.Projects {
    .blockProjects {
        display: flex;
        align-items: center;
        background-color: red;
        border-radius: 4px;
        height: 250px;
        overflow: hidden;
        width: 400px;
        img {
            height: 230px;
        }
    }
}
