.User {
    padding: 10px;
    .Table {
        display: flex;
        align-items: center;
        justify-content: center;
        table {
            width: 50%;
            margin: 10px;
        }
        th {
            border-bottom: 1px solid #cadaca;
        }
        td, th {
            padding: 10px 20px;
        }
        .image_user {
            height: 25px;
        }
        .action {
            display: flex;
            align-items: center;
            &>button {
                border: none;
                cursor: pointer;
            }
            &>p {
                margin: 0px;
            }
        }
    }
}
